In [ ]:
# imports

import itertools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import psycopg2
import pandas as pd

# Attempt for subreddit classification

In [2]:
# Function to load data into a DataFrame
def load_data_to_dataframe():
    try:
        # Establish a connection to the PostgreSQL database
        connection = psycopg2.connect(
            host='10.10.10.10',  # Replace with your host
            port=5432,           # Default PostgreSQL port
            user='postgres',     # Replace with your username
            password='adm',      # Replace with your password
            database='adm'       # Replace with your database name
        )
        
        # Create a SQL query to retrieve 10,000 records
        # query = "SELECT body FROM reddit_2007 WHERE body != '[deleted]' and length(body) > 100 limit 30000;"
        query = "SELECT body, subreddit FROM cleared WHERE subreddit = 'AskWomen' OR subreddit = 'AskMen' LIMIT 20000;"

        # Load the data into a pandas DataFrame
        df = pd.read_sql_query(query, connection)

    except Exception as e:
        print("An error occurred:", e)

    finally:
        # Close the connection
        if connection:
            connection.close()
    
    return df

# Call the function to load data into a DataFrame
data = load_data_to_dataframe()
df = pd.DataFrame(data.values, columns=["text", "subreddit"])

C:\Users\Marcin\AppData\Local\Temp\ipykernel_12840\893654689.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

In [3]:
df.head()

                                                text subreddit
0  How much detail are you looking for?\n\nEDIT: ...    AskMen
1  &gt;That, and the masturbatory nature\n\nWomen...    AskMen
2  &gt;Yes, but for the vast majority of women, "...    AskMen
3  Well first off, you say you clean up well, but...    AskMen
4  If it was me, that would be because having a t...  AskWomen

In [4]:
df.describe()

                                                     text subreddit
count                                               20000     20000
unique                                              19975         2
top     See what I mean about Canadian women guys? Thi...    AskMen
freq                                                   13     11065

In [5]:
df['subreddit'].value_counts()

subreddit
AskMen      11065
AskWomen     8935
Name: count, dtype: int64

# Preparing word embeddings
---